.main-header {
  margin-left: 0px !important;
}

.socialSearch {
  border-radius: 21px !important;
  border: 1px solid !important;
  background-color: white !important;
}

.btnSocialSearch {
  background-color: #00ffff00 !important;
  border-radius: 0px !important;
  right: 46px !important;
}

.brand {
  position: absolute;
  left: 50%;
  margin-left: -50px !important; /* 50% of your logo width */
  display: block;
}

.socialLogo {
  font-size: 30px !important;
  font-weight: 400 !important;
  color: black;
}

.social-arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 23px solid #e80016;
  position: absolute;
  left: 96px;
  top: 14px;
}

.social-arrow-left {
  width: 0;
  height: 0;
  top: 14px;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 23px solid #28a745;
  /* left: 3px; */
  right: 100px;
}

.social-arrow-down {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid #e80016;
}

.social-arrow-up {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid gray;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid gray;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid gray;
}

.top-row {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  border-top: none;
  width: 160px;
}

.first-col {
  border-top: none;
  border-bottom: solid 1px black;
}

.bb-br {
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.bb {
  border-bottom: solid 1px black;
}

.bt-bb {
  border-top: solid 1px black;
  border-bottom: none;
}

.upperDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: -10px;
}

#search {
  z-index: 10;
}